{% extends "booking_manager/base.html" %}

{% block title %}Про сервис{% endblock %}

{% block content %}
    <h1>Booking service</h1>
    <p>Сервис бронирования свободных временных слотов.</p>

    <h2>Задача сервису</h2>
    <ul>
        <li>показать доступные временные слоты;</li>
        <li>разрешить забронировать конкретный слот;</li>
        <li>не допустить повторного бронивання одного и того самого слота.</li>
    </ul>

    <p>
        <a href="{% url 'booking_manager:slot_list' %}">Перейти к списку слотов</a>
    </p>
{% endblock %}