{% extends "booking_manager/base.html" %}

{% block title %}Booking service{% endblock %}

{% block content %}
    <h2>Список специалистов.</h2>

    {% for specialist in specialists %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ specialist.name }}</h5>
                <p class="card-text">Speciality: {{ specialist.speciality }}</p>
                <p class="card-text">Experience: {{ specialist.experience }} years</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}